@import "@scss/util.scss";

.m-concertentry {
  color: $white;
  padding: 5px 10px 0px;
  background-color: rgba($blue-mid, 0.8);

  &:not(:last-child) {
    border-bottom: 1px solid $blue-dark;
  }

  &:hover {
    background-color: rgba($blue-mid, 1);
    transition: background 0.3s ease-in-out;
  }

  a {
    @include typo-entry-title-small;
    text-decoration: none;

    &:hover {
      color: $blue-dark;
    }
  }

  &__head {
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    padding-bottom: 5px;

    @include sm {
      flex-flow: row nowrap;
      align-items: baseline;
    }
  }

  &__date {
    flex: 1;
    @include typo-entry-title-small;
    text-align: right;

    @include sm {
      text-align: left;
    }
  }

  &__title {
    flex: 3;
    @include typo-entry-title;

    @include sm {
      padding-left: 10px;
    }
  }

  &__locations {
    flex: 2;
    margin-top: 5px;

    @include sm {
      margin-top: 0;
      padding-left: 5px;
      text-align: right;
    }
  }

  &__body {
    max-height: 50vh;
    padding: 10px 0 10px;
    border-top: 1px solid $blue-light;
    overflow-y: auto;
  }

  &__bands {
    margin-bottom: 10px;

    a + a {
      margin-left: 10px;
    }
  }

  &__times {
    display: flex;
    flex-flow: column nowrap;

    @include sm {
      flex-direction: row;
      margin-bottom: 10px;
    }
  }

  &__entryTime, &__startTime {
    flex-basis: 50%;
    margin-bottom: 5px;

    @include sm {
      margin-bottom: 0;
    }
  }

  &__deschription {
    padding: 10px 0;
  }
}